.SwapSpicePanel {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #000;
    height: 22rem;
    width: 36rem;
    padding-top: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 2rem;
    justify-content: space-between;
}

.InputBlock {
    display: flex;
    justify-content: space-between;
    background-color: #f1f2f385;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.InputRow {
    display: flex;
    justify-content: space-between;
}

.SwapInput{
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    font-size: 24px;
    background-color: transparent;
    width: 40%;
}

.InfoBlock {
    display: flex;
    justify-content: space-between;
}

.CurrencyBlob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    //align-items: center;
    box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.17);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 1rem;
    user-select: none;

}


.SwapSpiceButton {
    background-color: #ffe9f1;
    color: #e70066;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: larger;
}

.TinyCurrency{
    font-size: smaller;
    margin-top: 0.25rem;
}