/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;700&display=swap");
a,
button {
  text-decoration: none;
  background: none;
  text-align: center;
}

* {
  margin: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgb(34, 129, 131) 9%, rgb(245, 221, 183) 92%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: lighter;
  line-height: 1.5;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
@media (max-height: 600px) {
  .App {
    height: auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .App {
    min-height: 100vh;
  }
}

img {
  width: 100%;
}

p {
  margin: 1.5rem 0;
  text-align: left;
}

.HomeComponent {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 48em) {
  .HomeComponent {
    width: 100%;
    padding: 2.5rem;
  }
}
.HomeComponent__logo {
  width: 18rem;
  margin: 2rem auto;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 48em) {
  .HomeComponent__logo {
    width: 9rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .HomeComponent__logo {
    width: 7rem;
  }
}
.HomeComponent__text {
  margin-left: 0rem;
  margin-right: 0rem;
}
.HomeComponent__links {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .HomeComponent__links {
    flex-direction: column;
  }
}
.HomeComponent__links > * {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.3rem;
  color: rgb(34, 129, 131);
  width: 27%;
  margin-bottom: 1rem;
  text-decoration: none;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 37.5em) {
  .HomeComponent__links > * {
    flex-direction: column;
    width: 100%;
  }
}
.HomeComponent__links > *:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.HomeComponent__social_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.HomeComponent__social_icons > * {
  margin: 0.7rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 1.4rem;
  color: #fff;
}
.HomeComponent__social_icons > *:hover {
  transform: scale(1.3);
  color: rgb(34, 129, 131);
}

.AsteriskContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.AsteriskSpacer {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.AsteriskText {
  font-size: 28px;
  font-weight: 500;
}

.HeaderText {
  display: flex;
  font-size: 64px;
  font-weight: 700;
  width: 100%;
  justify-content: center;
}

.EpisodeTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0.7rem;
}

.LocationTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

.Credits {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
}

.SmallHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 1rem;
}

.TinyHeader {
  font-size: 28px;
  font-weight: 500;
}

.BiblePageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 22px;
}

.BibleTextContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #272435;
  border-radius: 1rem;
  padding: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.VideoComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.VideoTextContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #272435;
  border-radius: 1rem;
  padding: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Redemptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SwapSpicePanel {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000;
  height: 20rem;
  width: 30rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  justify-content: space-between;
}

.InputBlock {
  display: flex;
  justify-content: space-between;
  background-color: #f1f2f3;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.InfoBlock {
  display: flex;
  justify-content: space-between;
}

.CurrencyBlob {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 27%;
  box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.17);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 1rem;
}

.SwapSpiceButton {
  background-color: #ffe9f1;
  color: #e70066;
  padding: 0.75rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */